<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button *ngIf="hasGoals" tab="metas">
      <ion-icon name="list"></ion-icon>
      <ion-label>Metas</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="goToCreate()">
      <ion-icon name="bulb"></ion-icon>
      <ion-label>Nueva Meta</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="hasGoals" tab="simulacion">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Simulación</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="logout()">
      <ion-icon name="log-out-outline"></ion-icon>
      <ion-label>Cerrar Sesión</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
